body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    width: auto;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.top-logo-and-links {
    display: flex;
    height: 80px;
    flex: 1 0 basis;
    background: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
    gap: 24px;
}

.top-text-and-image {
    display: flex;
    flex: 1 0 auto;
    background: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}


.top-text h2{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.top-text p{
    font-size: 18px;
    color: #e5e7eb;
}

.signup-button {
    font-weight: bold;
    color: #f9faf8;
    background: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 6px 24px;
}

.top-text-and-image img{
    flex: 1 0 auto;
    width: 400px;
}